# Unit 19. 중첩 반복문

## 19.1 중첩(Nested) for loop

In [6]:
for i in range(5):          # 5번 반복. 바깥쪽 루프는 세로 방향
    for j in range(5):      # 5번 반복. 안쪽 루프는 가로 방향
        print('j:', j, sep='', end=' ')    # j값 출력. end에 ' '를 지정하여 줄바꿈 대신 한 칸 띄움
    print('i:', i, '\\n', sep='')

j:0 j:1 j:2 j:3 j:4 i:0\n
j:0 j:1 j:2 j:3 j:4 i:1\n
j:0 j:1 j:2 j:3 j:4 i:2\n
j:0 j:1 j:2 j:3 j:4 i:3\n
j:0 j:1 j:2 j:3 j:4 i:4\n

## 19.2 별 사각형

In [11]:
for i in range(5):
  for j in range(5):
    print('*',end="")
  print()

*****
*****
*****
*****
*****

In [19]:
for i in range(5):
  for k in range(0,i):
    print(' ',end="")
  for j in range(5):
    print('*',end="")
  print(" ")

*****
 *****
  *****
   *****
    *****

In [26]:
for i in range(4):
  print(" "*i,'*'*5,sep='')

*****
 *****
  *****
   *****

## 19.3 계단식 별

In [27]:
for i in range(5):
  for j in range(5):
    if(j<=i):
      print('*',end="")
  print()

*
**
***
****
*****

In [29]:
for i in range(5):
  print('*'*(i+1),sep='')

*
**
***
****
*****

In [30]:
for i in range(5):
  for j in range(0,i+1):
      print('*',end="")
  print()

*
**
***
****
*****

In [33]:
for i in range(5):
  for j in range(5,i,-1):
      print('*',end="")
  print()

*****
****
***
**
*

In [34]:
for i in range(5):
  for k in range (0,i):
    print(" ",end="")
  for j in range(5,i,-1):
      print('*',end="")
  print()

*****
 ****
  ***
   **
    *

In [52]:
for i in range(5):
  for k in range(5,i,-1):
    print(" ",end="")
  for j in range(0,2*(i)-1):
      print('*',end="")
  print()

    *
   ***
  *****
 *******

In [71]:
for i in range(5):
  for _ in range(4-i):
    print(" ",end="")
  for _ in range(2*i+1):
    print('*',end="")
  print()

for i in range(5):
  for _ in range(i+1):
    print(" ",end="")
  for _ in range(7-2*i):
    print('*',end="")
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [74]:
for i in range(5):
  print(" "*(4-i), '*'*(2*i+1))
for i in range(4):
  print(" "*(i+1), '*'*(2*(3-i)+1))

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [76]:
for i in range(5):
  print(" "*(4-i), '*'*(2*i+1))
for i in range(4):
  print(" "*(i+1), '*'*(7-2*i))

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *