## 15.3 연문

In [3]:
x=int(input())

if 11<=x<=20:
    print('11~20')
elif 21<=x<=30:
    print('21~30')
else:
    print('아무것도 해당하지 않음')

11~20

## 15.4 심사문제
표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

어린이(초등학생, 만 7세 이상 12세 이하): 650원
청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
어른(일반, 만 19세 이상): 1,250원

In [7]:
age=int(input())
balance=9000

if 7<= age <=12:
    balance-=650
if 13<= age <=18:
    balance-=1050 
if age >=19:
    balance-=1250

print(balance)

7750

## 16.5 연습문제

In [13]:
x = [49, -17, 25, 102, 8, 62, 21]

for i in x:
    print(i*10)
x

490
-170
250
1020
80
620
210

[49, -17, 25, 102, 8, 62, 21]

## 16.6 심사문제
표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.

In [15]:
a=int(input())

for i in range(1,10):
    print(f"{a} * {i}=",a*i)

5 * 1= 5
5 * 2= 10
5 * 3= 15
5 * 4= 20
5 * 5= 25
5 * 6= 30
5 * 7= 35
5 * 8= 40
5 * 9= 45

## 17.5 연문

In [16]:
i=2
j=5

while i<=32 or j>=1:
    print(i,j)
    i=i*2
    j=j-1

2 5
4 4
8 3
16 2
32 1

## 17.6 심사문제
표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [22]:
money=int(input())

while money>1350:
    money-=1350
    print(money)

## 18.5 연습문제

In [24]:
i =0
while True:
    if i%10==3:
        print(i)
    i+=1

    if i>73:
        break

3
13
23
33
43
53
63
73

## 18.6 심문
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~200, 두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [28]:
start, stop = map(int, input().split())

i=start
while True:
    i+=1
    if(i>stop):
        break
    elif(i%3==0):
        
        continue
    print(i,end=' ')

14 16 17 19 20

## 19.심문

In [44]:
# 19.6 심문
a=int(input())

for i in range(a):
    for j in range(a,i,-1):
        print(' ',end="")
    for k in range(0,2*i+1):
        print('*',end="")

    print()

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************

## 22.9 연문

In [45]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i)==5]
 
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

## 22.10 심문
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~20, 두 번째 입력 값의 범위는 10~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [50]:
num1, num2=map(int,input().split())
[2**i for i in range(num1,num2+1)]

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

## 추가문제_1

a + b + c = 1000 (a < b < c) a * a + b * b = c * c 인 피타고라스 수는?

In [71]:
a=list(range(1,333))
b=list(range(1,500))
c=list(range(1,998))
d=[]
for i in a:
    for j in b:
        for k in c:
            if i+j+k==1000 and i*i+j*j==k*k and i<j<k:##c=1000-a-b 
                print(i,j,k)
                d.append([i,j,k])

d

200 375 425

[[200, 375, 425]]

In [6]:
for i in range(333):
    for j in range(500):
        c=1000-i-j
        if i*i+j*j==c*c and i<j<c:
            print(i,j,c)

200 375 425

디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?- 디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨
29700

In [74]:
clock_time=[]
time_in_sec=0
c=0
for i in range(24): 
    for j in range(60):
        if i%10==3 or j%10==3 or j//10==3:
            c+=60

c

29700

본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [9]:
from datetime import date
today=date.today()

year, month, day=map(int, input().split())

if month>today.month:
    age=today.year-year-1
elif month<today.month:
    age=today.year-year
else:
    if day>today.day:
        age=today.year -year-1
    else:
        age=today.year-year

print(age)

21

In [13]:
total_s=0
for hour in range(24):
    for min in range(60):
        dis=f'{hour:02d}+{min:02d}'
        if '3' in dis:
            total_s+=60
total_s

29700