# Unit 7. 출력

## 7.1 여러개 값을 출력

In [5]:
a, b = map(int, input('두개의 숫자').split())
a,b

두개의 숫자3 4

(3, 4)

In [7]:
a, b = map(int, input('두개의 숫자').split()) #b 만 출력
a
b

두개의 숫자3 4

4

In [11]:
print(a)
print(b)
print(a,b)
print(a,b,sep=' , ') #sep 중간에 사이값

3
4
3 4
3 , 4

## 7.2 줄바꿈을 활용

In [12]:
print(1,2,3,sep='\n') #sep 중간에 사이값

1
2
3

In [15]:
print(1,2,3,sep='/\\') #백슬래쉬 표현하고싶을떄

1/\2/\3

In [17]:
print(a)
print(b)

3
4

In [19]:
print(a,end=' ')#end의 defaul 값은 \n 지정하면 다르게보인다 
print(b)

3 4

In [20]:
for i in range(5):
  print(i,end=" ")

0 1 2 3 4

In [6]:
print(1,2,3,end=' ') #출력 한 후 마지막에 엔터
print(1,2,3,sep='\n') #출력 인자값을 엔터로 나눈다
print(1,2,3)
print()

1 2 3 1
2
3
1 2 3