# Unit 30. 위치인수와 키워드 인수

## 30.1 위치 인수

In [4]:
print(10,20,30,sep=', ')

10, 20, 30

In [5]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [6]:
print_numbers(10,20,30)

10
20
30

In [9]:
# *x-리스트 언패킹
x,y=[10,20,30],(40,50,60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변인수 함수

In [11]:
def print_numbers2(*args):
    for arg in args:
        print(arg)

In [12]:
print_numbers2(10,20,30,40)

10
20
30
40

### 고정인수와 가변인수

In [13]:
def print_numbers3(a,*args):
    print(a)
    print(args)

In [14]:
print_numbers3(1,10,20)

1
(10, 20)

In [15]:
def print_numbers4(*args,a): ## 고정인수는 항상 앞에와야된다 틀린 함수XXXXXXX
    print(args)
    print(a)

## 30.2 키워드 인수

In [17]:
def personal_info(name,age,addr):
    print('이름',name)
    print('나이',age)
    print('주소',addr)

In [18]:
personal_info('홍길동',30,'서울')

이름 홍길동
나이 30
주소 서울

In [20]:
personal_info(age=30,addr='서울',name='홍길동')## 인수 순서 바꿔도 인수값주면 된다

이름 홍길동
나이 30
주소 서울

## 30.3 키워드 인수와 딕셔너리 언패킹 사용하기

In [23]:
x={'age':30, 'addr':'서울','name':'홍길동'}
personal_info(**x)##딕셔너리 언패킹 **

이름 홍길동
나이 30
주소 서울

### 가변키워드 인수

In [28]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}:{value}')

In [32]:
personal_info2(**x)

age:30
addr:서울
name:홍길동

### 고정인수와 가변인수

In [33]:
def personal_info3(name, **kwargs):
    print(name)
    print(kwargs)

In [34]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울'}

### 위치인수와 키원드 인수

In [39]:
def my_print(*args,**kwargs):
    print(*args,**kwargs)

In [40]:
my_print(10,20,30, sep=', ')

10, 20, 30

## 30.4 매개변수의 초기값 지정하기

In [41]:
def personal_info4(name,age,addr='비공개'): ## 실제 내장 함수에 많이 쓰인다
    print('이름',name)
    print('나이',age)
    print('주소',addr)

In [42]:
personal_info4('홍길동',30)

이름 홍길동
나이 30
주소 비공개

In [43]:
personal_info4(**x)

이름 홍길동
나이 30
주소 서울